<div class="row">
  <div class="col-sm-6 col-lg-4 col-xs-12 col-md-4">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
    <strong>Precion:</strong>
    <%= @product.princing %>
  </div>
  <div class="col-sm-6 col-xs-12 col-lg-8 col-md-8">

  </div>
</div>